* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right, #e3dddd, #f0d4d4);
  position: relative;
}
#main-sect {
  width: 600px;
  height: 400px;
  background: #a4dcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
